@charset "UTF-8";

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('fontes/Champagne & Limousines.ttf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Numberlin';
    src: url(fontes/Numberlin.ttf) format('opentype');
    font-weight: normal;
}

:root {
    --color0: #024873;
    --color1: #024059;
    --color2: #F28A2E;
    --color3: #F27329;
    --color4: #BF6849;

    --fontpadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontlink: 'Champagne & Limousines', cursive;
}

body {
    background-color: #02487350;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-image: linear-gradient(to bottom, var(--color0), var(--color1));
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 40px
}

header > h1 {
    color: var(--color2);
    padding: 0px;
    margin: 20px 0px 5px 0px;
}

header > p {
    margin: 0px;
    padding: 0px;
    color: var(--color2);
    font-family: 'Numberlin', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

nav {
    background-color: var(--color0);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.342);
}

nav > a {
    color: white;
    padding: 10px;
    font-family: var(--fontlink);
    font-weight: normal;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bolder;
}

main {
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: var(--color0);
    text-align: center;
}

main > section {
    display: inline-block;
    width: 220px;
    height: 230px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.212);
    padding-top: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

main > section#impressoras-termicas > img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

main > section#impressoras-termicas > p {
    font-size: 20px;
    margin-bottom: auto;
    color: var(--color1);
    font-weight: bolder;
    text-align: center;
}

main > section#esteira-de-afericao > img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

main > section#esteira-de-afericao > p {
    font-size: 20px;
    margin-bottom: auto;
    color: var(--color1);
    font-weight: bolder;
    text-align: center;
}

main > section#dimensionador > img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

main > section#dimensionador > p {
    font-size: 20px;
    margin-bottom: auto;
    color: var(--color1);
    font-weight: bolder;
    text-align: center;
}

main > section#esteira-flexivel > img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

main > section#esteira-flexivel > p {
    font-size: 20px;
    margin-bottom: auto;
    color: var(--color1);
    font-weight: bolder;
    text-align: center;
}